/*error*/
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  background: #fff;
  flex-direction: column;
  padding: 2rem 0;
}
h1.error-colored, h2.error-colored{
  color:#e64e4e;
}
.error .heading-section {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
  text-align: center;
}
 
.error .image img {
  width: 100%;
}
