/*footer*/
.footer {
    width: 100%;
    padding: 1.5rem 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
    background:#111;
  }
  
  .footer .box-container {
    padding-top:2rem;
    font-size: 1.4rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap:wrap;
    flex-direction: row;
  }
 
   .footer .box-container i {
    padding-right: 0.5rem;
  }
   .footer .box-container a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 4rem;
    color: #ffffff;
    margin-right: 0.5rem;
    text-align: center;
  }
  .footer .box-container a:hover {
    color: #aaa;
  }  

  .footer .sponsor_logo{
    align-items: center;
    justify-content:center;
    flex-direction: row; 
    width:100%;  
    text-align:center;
  }
  .footer .sponsor_logo img{
    width:20%;  
    min-width:100px;  
  }